extends layout

block content
    h1 Become Admin Form 

    if user.member
        p=user.username 
        p=user.id 
        p=user.member
        p=user.admin

        form(method="POST" action="")
            div.form-group
                label(for='adminCode') Admin Code:
                input#adminCode.form-control(type='text' name='adminCode' value='' )
        
            button.btn.btn-primary(type='submit') Submit
        if errors 
            ul 
                for error in errors
                    li!= error.msg
    else 
        p Not a member 