extends layout

block content
  if !user || !user.member
    p(class="pageHeader") Please log in and become a member to see message details.

    div(class="messagesDiv")
      each message in messages 
        div.form-group(class="messageBox")
          p #{message.title}
          p #{message.message}
          p Posted by: Anonymous  

  else if !user.admin 
    p(class="pageHeader") Logged in: #{user.username}

    div(class="messagesDiv")
      each message in messages 
        div.form-group(class="messageBox")
          p(class="messageTitle") #{message.title}
          br
          p(class="messageBody") #{message.message}
          br
          hr
          div(class="authorDiv")
            p Posted by #{message.user} 
            p #{message.timestamp} 
                 
  else 
    p(class="pageHeader") Logged in: #{user.username}

    div(class="messagesDiv")
      each message in messages 
        form(method="POST" action="" class="messageBox")
          div.form-group
            input#messageid.form-control(type='hidden',name='messageid', required='true', value=message._id )

            div(class="deleteMessageTitle")  
              p #{message.title}
              button(type='submit') Delete Message
            br
            p(class="messageBody") #{message.message}
            br
            hr
            div(class="authorDiv")
              p Posted by #{message.user} 
              p #{message.timestamp} 
            