extends layout

block content
  h1= title
  p Welcome to #{title}
  p Please log in to see message details

  if !user || !user.member
    p Not logged in

    each message in messages 
      div.form-group
        p #{message.title}
        p #{message.message}
        p Anonymous  

  else if !user.admin 
    p=user.username 
    p=user.id 
    p=user.member
    p=user.admin

    each message in messages 
      div.form-group
        p #{message.title}
        p #{message.message}
        p #{message.timestamp}
        p #{message.user}        
  
  else 
    p=user.username 
    p=user.id 
    p=user.member
    p=user.admin

    each message in messages 
      form(method="POST" action="")
        div.form-group
          input#messageid.form-control(type='hidden',name='messageid', required='true', value=message._id )

          p #{message.title}
          p #{message.message}
          p #{message.timestamp}
          p #{message.user}  
        button(type='submit') Delete Message